// .prettierrc
{
  "arrowParens": "always",
  "bracketSpacing": false,
  "parser": "babylon",
  "printWidth": 100,
  "quotes": true,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5"
}